body {
  font-family: "Georgia";
  background: url(http://i1036.photobucket.com/albums/a449/julianpozzi/splashPage_zpslgaigv2n.jpg) no-repeat center center fixed;
  background-size: cover;
}

div.container > h1 {
  color: #FFFFFF;
  font-family: "Georgia";
}

p,
form {
  font-family: "Georgia";
  color: white;
  opacity: 1;
}

input {
  clear: both;
  float: left;
  margin-bottom: 10px;
}

label {
  float: left;
  margin-left: 10px;
}

span.label {
  font-size: 90%;
  margin: 0 auto;
}

button {
  color: black;
  margin: 10px 0 0 0;
  font-family: "Georgia";
  clear: both;
}

label {}

#next {
  color: black;
}

.hide {
  display: none;
}

#quizContainer {
  background-color: rgba(255, 0, 0, .5);
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 200px;
  border: 1px dotted #FFFFFF;
  margin-top: 10px;
  width: 100%;
}

.quizTabs ul {
  margin-top: 10px;
  background-color: #FFFFFF;
  font-family: "Georgia";
}

#buttonContainer {
  color: black;
  margin-top: 20px;
  clear: both;
}

#buttonContainer> .btn-default {
  margin-right: 10px;
  margin-top: 10px;
}

#quiz form {
  height: 300px;
}

.loginDiv {
  width: 200px;
  height: 200px;
  background-color: red;
}

#overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

#overlay div {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
}

#overlay p {
  color: black;
}

#login form {
  height: 100px;
}
